:root {
  --primaryColor: #ec5b53;
  --secondaryColor: #002d5b;
  --muteColor: #eee;
  --lightColor: #fef6f6;
  --overlay: #35373a;
  --textColor: #444;
  --whiteColor: #fff;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
